{% extends "base.jinja2" %}

{% block title %}Not found{% endblock %}

{% block content %}
    <div class="service-text">
        Message you are looking for already been read or has never existed.
    </div>
{% endblock %}
