<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Teabag{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript" src="/static/script.js"></script>
</head>
<body onload="main();">
    <div class="service-text menu" style="display:inline;">
        <a class="big-service-link right-space" href="/">Teabag</a>
        | <a class="service-link" href="/about">About</a> |
    </div>
    <br><hr><br>
    {% block content %}
    <div class="service-text">
        Hello
    </div>
    {% endblock %}
</body>
</html>
