{% extends "base.jinja2" %}

{% block content %}
    <div class="service-text">
        Your message has been saved.
        Once this link be opened, the message will be removed.
    </div>
    <br>

    <input id="url-input" value="http://{{ url }}" style="width: 36em;" readonly>
    <button id="copy-btn">Copy to Clipboard</button>
{% endblock %}
