<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Teabag{% endblock %}</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="service-text">
        <a class="service-link" href="/"><h1>Teabag</h1></a>
    </div>
    {% block content %}
    <div class="service-text">
        Hello
    </div>
    {% endblock %}
</body>
</html>
