{% extends "base.jinja2" %}

{% block title %}Write the message{% endblock %}

{% block content %}
    <div class="service-text">
        Write your message here:
    </div>
    <form method=POST action="/save">
        <textarea rows="16" cols="80" name=message></textarea>
        <br>
        <button type="submit">Save the message</button>
    </form>
{% endblock %}
