<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write the message</title>
</head>
<body>
<form method=POST action="/save">
    <textarea name=message></textarea><br>
    <button type="submit">Save</button>
</form>
</body>
</html>
