.service-text {
    color: brown;
}

a.service-link {
    text-decoration: none;
    color: brown;
}

a.big-service-link {
    text-decoration: none;
    color: brown;
    font-size: 200%;
    font-weight: bold;
}

.right-space {
    margin-right: 3em;
}

hr {
    color: brown;
}

div.message {
    white-space: pre;
    font-family: monospace;
}

input#input-to-copy {
    width: 36em;
}

div.menu {
    display:inline;
}
